html, body {
    height: 100%;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.box {
    width: 500px;
    margin: 200px 0;
}

.gradient-custom {
/* fallback for old browsers */
background: rgb(0, 3, 15);

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(0, 7, 44), rgba(1, 27, 84));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to left, rgba(0, 7, 44), rgba(1, 27, 84))
}